html, body {
    height:100%;
    width:100%;
}

.night { 
	background-color: rgb(52,58,64);
 	color: white; }
.bordure {
	max-width: 80%;
	height: auto;
	border-radius: 80%
}

.icone {
	max-width: 5%;
}

.background {
	background-color: rgb(12,29,60);
	color : white;
	font-size: 1.5em;
}

.color-mauve{
	background-color: rgb(55,29,95);
	color : white;
}

.police-min {
	font-size: 0.8em;
}


.background-title {
	background-color: rgb(160,160,160);
}
.background-body {
	background-color: rgb(220,220,220);
}

.map-container{
overflow:hidden; /*hidden si cacher ce qui dépasse */ 
padding-bottom:30%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:25%;
width:50%;
position:absolute;
}

h1{
	background-repeat: no-repeat;
}

.bloc1
{
	height:100%;
	width: 55%;
	margin: auto;
    padding: 25px;   /* distance entre le texte et le cadre*/
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px; /* bordure */ 
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    font-family:trebuchet, helvetica, sans-serif;  /* police  */
    color : black;
}

.minibloc
{
	width: 65%;
	margin: auto;
}

.centering
{
  text-align: center;
}

.cadre
{
	border-style : solid;	
	border-color : black;
}

.marge
{
	padding: 5%;
}